extends layout.pug

block content
    p Hello Album!
    img(src=`${album.albumArt}`)
    p= `Album name: ${album.name}`
    //-add artist name!!
    p= `Artist: ${album.Artist.dataValues.name}`
    p= `Genre: ${album.genre}`
    p= `Release date: ${album.releaseDate}`
    form(action=`/albums/${album.id}` method="POST")
        label(for="review") What did you think of this album?
        textarea(name="review" cols="30" rows="10" required)
        label(for="rating") Rating
        input(type="number" name="rating" min='1' max='10' required)
        button Submit
    p Reviews
    table(style='width:40%', border='1')
        tbody
            each review in reviews
                .review-container
                    tr
                        td=review.Review.content
                        td=review.Review.rating
