extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/libraries.css")
    script(src="/javascripts/libraries.js" type="module")

block content
    div#app
        div.gap-container
            h2 Libraries list

        .library-container
            each library in userLibraries
                table
                    thead

                    tbody
                        each list, key in library
                            td(class="library-Name")= key
                                form(class='editProfile' action=`/libraries/${key}/` method='get')
                                    button(type='submit') visit list
                            td= list[0]['name']
                            td
                                a(href=`/libraries/${key}/`)
                                    img(src=`${list[0]['albumArt']}`)
