extends layout.pug

append head
    script(src="/javascripts/library.js" type="module")

block content
    p(class= "hidden" id="userId")= userId
    h2(id="libraryName")= nameToPass
    p line break
    p line break
    p line break
    p line break
    a(href="/albums")
        button(id= "removeLibraryButton" type='submit') Remove Library

    table
        thead
            tr
                th(scope='col') Album Name
                th(scope='col') Album Cover
                th(scope='col') Album Name
        tbody
            each album in albumList
                tr
                    td
                        img(src=`${album.dataValues.albumArt}`)
                    td(class="albumName")= album.dataValues.name
                    td
                        if locals.userId == user.id
                            button(class="removeAlbum" id=`album-${album.dataValues.id}`) Remove Album
