extends layout.pug

block content
    p Hello Libraries!
    img(src=`${libraryList.albumArt}`)
    p= `${libraryList.name}`
    //-add artist name!!
    p= `${libraryList.genre}`
    p= `${libraryList.releaseDate}`
    //-has to be all the reviews
    p= `Reviews: ${review}`
